<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/contact.css">
    <title>Contact</title>
</head>
<body>
    <div class="container-contact100">

		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/contact" method="POST">
				<span class="contact100-form-title">
					Send Us A Message
				</span>
        <img src="img/transparentLogo.png" height="300px" width="490px" alt="logo">
      <form class="marginForm" action="/contact" method="POST">

        <br>
        <% if(message.length > 0) {%>
            <div style="color: green">
              <%= message%>
            </div>
        <% }%>
        <br>

				<div class="wrap-input100 ">
					<input class="input100" type="text" name="name" placeholder="Full Name" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 ">
					<input class="input100" type="text" name="email" placeholder="E-mail" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 ">
					<input class="input100" type="text" name="subject" placeholder="Subject" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 ">
					<textarea class="input100" name="message" placeholder="Your Message" required></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							
							Send
						</span>
					</button>
				</div>
        </form>
			</form>
		</div>
	</div>






</body>
</html>