<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles/contact.css">
	<link rel="stylesheet" type="text/css" href="styles/homepageBeforeLogin.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
	<link rel="icon" href="img/tabIcon.png">
    <title>Job Posting</title>
</head>

<body>

	<div id="navbar">
		<img src="img/logo.png" style="float: left; display: block; width: 200px;"> 
		<a href="/homepageBeforeLogin">Home</a>
		<a href="/jobs" >Jobs</a>
		<a href="/contact" >Contact</a>
		<a href="/postJob" style="float: right;  padding-right: 120px; color: #4495f1;" >Post a job</a>
		<a href="/profile" style="float: right;  color: #4495f1;" >My Profile</a>
	</div>

    <div class="container-contact100">

		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/contact" method="POST">
				<span class="contact100-form-title">
					Send Us A Message
				</span>
        <img src="img/transparentLogo.png" height="300px" width="490px" alt="logo">
      <form class="marginForm" action="/contact" method="POST">

        <br>
        <% if(message.length > 0) {%>
            <div style="color: green">
              <%= message%>
            </div>
        <% }%>
        <br>

				<div class="wrap-input100 ">
					<input class="input100" type="text" name="name" placeholder="Full Name" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 ">
					<input class="input100" type="text" name="email" placeholder="E-mail" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 ">
					<input class="input100" type="text" name="subject" placeholder="Subject" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 ">
					<textarea class="input100" name="message" placeholder="Your Message" required></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							
							Send
						</span>
					</button>
				</div>
        </form>
			</form>
		</div>
	</div>

	<button id="btnToScrollTop" onclick="topFunction()">
		<i class="fas fa-arrow-up"></i>
	  </button>

	<footer id="footer">
		<div>
		  <center>
			<p id="copyright">© 2021 Copyright: Easy Job</p>
		  </center>
		</div>
	</footer>

	<script src="js/contact.js"></script>

</body>
</html>