  
<!DOCTYPE html>
<html>

<head>
<title>Job Posting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/styles/index.css">
    
</head>

<body>

    <h1>Hi <%= user %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

</body>

<footer>
    
</footer>
</html>