<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/login.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/login" method="POST">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img/transparentLogo.png" width="500px" height="300px">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="name" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
        <br>
      <button type="submit" class="login">Login</button>
        
        <br>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

      <br>
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Create your account <a href="/register">now</a></span>
    
  </form>
</div>

<script src="js/login.js"></script>

</body>
</html>
