<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/login.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <form class="modal-content animate" action="/login" method="POST">
    <h1 id="login">Login</h1>

    <div class="imgcontainer">
      <img src="img/transparentLogo.png" width="500px" height="300px">
    </div>
    <br>

    <% if(message.length > 0) {%>
        <div style="color: red">
          <%= message%>
        </div>
    <% }%>
    
    <br>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
        <br>
      <button type="submit" class="login">Login</button>
        
        <br>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

      <br>
      <button type="button" class="cancelbtn"><a href="/homepageBeforeLogin" id="cencel">Cencel</a></button>
      <span class="psw">Create your account <a href="/register">now</a></span>
    
  </form>


<script src="js/login.js"></script>

</body>
</html>
