<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="styles/postJob.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <title>Post a job</title>
<body>

  <div id="navbar">
    <img src="img/logo.png" style="float: left; display: block; width: 200px;"> 
    <a href="/homepageAfterLogin" style="padding-top: 51px;">Home</a>
    <a href="/jobs" style="padding-top: 51px;">Jobs</a>
    <a href="/contact" style="padding-top: 51px;">Contact</a>
    <a href="/postJob" style="float: right; padding-top: 51px; padding-right: 120px; color: #4495f1;" >Post a job</a>
    <a href="/profile" style="float: right; padding-top: 51px; color: #4495f1;" >My Profile</a>
  </div>

<div class="DIV">
  <form action="/postJob" method="POST">
    <hr>
    <h1>Post a job</h1> 
    <img src="img/transparentLogo.png" alt="logo" height="350px">

    <br>
    <br>
    
    <% if(message.length > 0) {%>
        <div style="color: green">
          <%= message%>
        </div>
    <% }%>

    <br>
    <br>

    <div class="form1">
    <label for="fname">Job Title</label>
    <input type="text" id="fname" name="jobTitle" placeholder="Enter Job Title" required>

    <label for="lname">Company</label>
    <input type="text" id="lname" name="companyName" placeholder="Enter Company" required>

    <label for="country">Category</label>
    <select id="country" name="category" required>
      <option value="SALES & MARKETING">SALES & MARKETING</option>
      <option value="CONSTRUCTION / FACILITIES">CONSTRUCTION / FACILITIES</option>
      <option value="AUTOMOTIVE JOBS">AUTOMOTIVE JOBS</option>
      <option value="ACCOUNTING / FINANCE">ACCOUNTING / FINANCE</option>
      <option value="TELECOMMUNICATIONS">TELECOMMUNICATIONS</option>
      <option value="EDUCATION TRAINING">EDUCATION TRAINING</option>
      <option value="RESTAURANT / FOOD SERVICIES">RESTAURANT / FOOD SERVICIES</option>
      <option value="HEALTH CARE">HEALTH CARE</option>
    </select>

    <label for="country">City</label>
    <input type="text" id="lname" name="city" placeholder="Enter City" required>

    <label for="country">Work Time</label>
    <select id="country" name="workTime" required>
      <option value="Full Time">Full Time</option>
      <option value="Part Time">Part Time</option>
    </select>
    
    <label for="country">Description</label>
    <input type="text" id="lname" name="description" placeholder="Enter Description" required>

    <label for="country">Salary</label>
    <input type="text" id="lname" name="salary" placeholder="Enter Salary" required>
    </div>
    
    <center><button name="name" type="submit">Post a Job</button></center>
  </form>
</div>

<button id="btnToScrollTop" onclick="topFunction()">
  <i class="fas fa-arrow-up"></i>
</button>

<footer id="footer">
  <div>
    <center>
      <p id="copyright">© 2021 Copyright: Easy Job</p>
    </center>
  </div>
</footer>

<script src="js/postJob.js"></script>

</body>
</html>
