<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles/profile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    
    <title>EasyJob</title>
</head>
<body>

    <div id="navbar">
        <img src="img/logo.png" style="float: left; display: block; width: 200px;"> 
        <a href="/homepageAfterLogin" style="padding-top: 51px;">Home</a>
        <a href="/jobs" style="padding-top: 51px;">Jobs</a>
        <a href="/candidates" style="padding-top: 51px;">Candidates</a>
        <a href="/contact" style="padding-top: 51px;">Contact</a>
        <a href="/homepageBeforeLogin" style="float: right; padding-top: 51px; padding-right: 120px; color: #4495f1;" >Log out</a>
        <a href="/postJob" style="float: right; padding-top: 51px; color: #4495f1;" >Post a job</a>
        <a href="/profile" style="float: right; padding-top: 51px; color: #4495f1;" >My Profile</a>
      </div>


    <div class="profileContainer">
    <img src="img/profile.jpg" alt="profile" height="124px"  width="124" class="img1">   
    <br>
    <h2>Your Name</h2> 
    <h5>City, Country<h5>
       </div> 
    <div class="profileInfo">
        
        <h4>Full Name</h4> 
        <hr>
        <h4>Email</h4>
        <hr>
        <h4>Phone</h4>
        <hr>
        <h4>Address</h4>
        <hr>
        <button class="buttonEdit" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">EDIT</button>
        <button class="buttonLogOut"><a href="/homepageBeforeLogin" class="logout-btn">Log Out</a></button>
     
    </div>
    <div class="profileJob">
       <h2>Jobs you applied for:</h2>

        </div>

        <div id="id01" class="modal">
          
          <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
              
            </div>
        
            <div class="container">
              <label for="uname"><b>Full Name</b></label>
              <input type="text" placeholder="New Username" name="uname" required>
        
              <label for="psw"><b>Email</b></label>
              <input type="email" placeholder="New Email" name="email" required>

              <label for="psw"><b>Phone</b></label>
              <input type="phone" placeholder="New Phone" name="phone" required>

              <label for="psw"><b>Address</b></label>
              <input type="address" placeholder="New Address" name="address" required>

             
                
              <button type="submit">Update</button>
             
            </div>
        
            <div class="container" style="background-color:#f1f1f1">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> 
            </div>
          </form>
        </div>

        <button id="btnToScrollTop" onclick="topFunction()">
            <i class="fas fa-arrow-up"></i>
        </button>

        <footer id="footer">
            <div>
                <center>
                    <p id="copyright">© 2021 Copyright: Easy Job</p>
                </center>
            </div>
        </footer>
        
        <script src="js/profile.js"></script>
</body>
</html>