<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles/profile.css">
    
    <title>EasyJob</title>
</head>
<body>

  <div id="navbar">
    <img src="img/logo.png" style="float: left; display: block; width: 200px;"> 
    <a href="/homepageAfterLogin" style="padding-top: 51px;">Home</a>
    <a href="/jobs" style="padding-top: 51px;">Jobs</a>
    <a href="/candidates" style="padding-top: 51px;">Candidates</a>
    <a href="/contact" style="padding-top: 51px;">Contact</a>
    <a href="/homepageBeforeLogin" style="float: right; padding-top: 51px; padding-right: 120px; color: #4495f1;" >Log out</a>
    <a href="/postJob" style="float: right; padding-top: 51px; color: #4495f1;" >Post a job</a>
    <a href="/profile" style="float: right; padding-top: 51px; color: #4495f1;" >My Profile</a>
  </div>

    <div class="profileContainer">
        <img src="img/profile.jpg" alt="profile" height="124px"  width="124" class="profile-image">   
        <br>
        <h2>Your Name</h2> 
        <h5>City, Country<h5>
    </div> 
    <div class="profileInfo">
        <h4>Full Name</h4>
        <hr>
        <h4>Email</h4>
        <hr>
        <h4>Phone</h4>
        <hr>
        <h4>Address</h4>
        <hr>
        <button>EDIT</button>
        <button style="float: right;"><a href="/homepageBeforeLogin" class="logout-btn">LOG OUT</a></button>
    </div>

    <footer id="footer">
        <div>
            <center>
                <p id="copyright">© 2021 Copyright: Easy Job</p>
            </center>
        </div>
    </footer>

</body>
</html>