img{
    border: 2px solid gray;
    border-radius: 12px;
    margin-left:88px;
    margin-top:40px;
}
.profileContainer
{
    height: 320px;
    position: relative;
    border: 5px solid rgb(199, 199, 199); 
    width: 300px;
    border-style: inset;
}
h3,h4{
    text-align: center;
    
}
h3{
    color:rgb(70, 70, 70);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h4{
    color:rgb(168, 168, 168);
}




  